[user]
	name = J-Pascal Mercier

[alias]
    st = status
    co = checkout
	difft = difftool --gui
[core]
	editor = gvim --nofork
	autocrlf = input
[color]
	ui = true
[diff]
	tool = vimdiff
    guitool = gvimdiff
[difftool]
	prompt = false
