[user]
	name = J-P. Mercier
	email = jp.mercier@gmail.com

[alias]
    st = status
    co = checkout
	difft = difftool --gui
[core]
	editor = gvim --nofork
	autocrlf = input
[color]
	ui = true
[diff]
	tool = vimdiff
    guitool = gvimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
